body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Home Page */

.home{
  background-image: url("https://images.unsplash.com/photo-1504548840739-580b10ae7715?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  /* object-fit: cover; */
  background-repeat: no-repeat;
  /* background-size: 2000px 1000px; */
  background-size: cover;
  height: 1000px;
  /* background-image: url("/src/plant.jpg"); */
}

.welcome{
  position: fixed;
  padding-top: 200px;
  justify-content: center;
  color: #fff;
  
}

.title{
  text-shadow: 1px 6px grey;
}

/* Product List Page */

.sort{
  position: relative;
}

/* Header */

.main-header {
  background-color: #3E4C5E;
  color: black;
  text-align: center;
  height: 65px;
  padding-top: 20px;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
}

/* Form/Add Product */

.ui.form {
  margin: 60px;
  padding: 50px;
  border-style: solid;
  align-items: left;
  opacity: 0.7;
  width: 450px;
  
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.formimage{
  opacity: 0.7;
  height: 690px;
}

/* Ingredients */

.ingredients{
  text-align: center;
  margin: 10px;
  padding-left: 400px;
  padding-right: 400px;
}